.c {
    width: 30%;
    height: 150px;
    display: inline-block;
    margin: 10px;
    background-color: white;
    box-shadow: 5.4px 10.9px 10.9px hsl(0deg 0% 0% / 0.33);
}

.c:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}


img {
    height: 150px;

}

/* 
.img {
    background-color: rgb(189, 189, 253);
}

.con {
    background-color: rgb(189, 253, 194);
}

.img, .con {
    display: inline-block;
}

h2, p, a {
    font-size: small;
    line-height: 1;
    text-decoration: none;
} */